<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HealthyClub.Provider.EDS.Properties.Settings.HealthyClub_BoroondaraConnectionString2"
      connectionString="Data Source=182.160.159.178;Initial Catalog=HealthyClub_Boroondara;User ID=HCMember;Password=Just1VIPUser;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="HealthyClub.Provider.EDS.Properties.Settings.HealthyClub_BoroondaraConnectionString"
      connectionString="Data Source=WIN-FGA35REL855;initial catalog=HealthyClub_Boroondara;user id=HCMember;Password=Just1VIPUser;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="HealthyClub.Provider.EDS.Properties.Settings.HealthyClub_BoroondaraConnectionString1"
      connectionString="Data Source=IECHSDATA\SHAREPOINT;Initial Catalog=HealthyClub_Boroondara;User ID=Developer;Password=Password.123;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="HealthyClub.Provider.EDS.Properties.Settings.HealthyClub_Boroondara_DevConnectionString"
      connectionString="Data Source=182.160.159.178;Initial Catalog=HealthyClub_Boroondara_Dev;User ID=HCMember;Password=Just1VIPUser;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>