<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
    <add name="HCEntities" connectionString="metadata=res://*/HealthyClubEDMC.csdl|res://*/HealthyClubEDMC.ssdl|res://*/HealthyClubEDMC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.160.159.178;initial catalog=HealthyClub_Boroondara_Dev;user id=HCMember;password=Just1VIPUser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>