<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0725" targetFramework="net45" />
  <package id="AjaxMin" version="4.97.4951.28483" targetFramework="net45" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="AspNet.ScriptManager.jQuery" version="1.8.2" targetFramework="net45" />
  <package id="AspNet.ScriptManager.jQuery.UI.Combined" version="1.10.3" targetFramework="net45" />
  <package id="CKEditor" version="3.6.4" targetFramework="net45" />
  <package id="CkeditorForASP.NET" version="3.6.4.0" targetFramework="net45" />
  <package id="DotNetOpenAuth" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.3.13295" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.3.13295" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Google.Apis" version="1.6.0-beta" targetFramework="net45" />
  <package id="Google.Apis.Analytics.v3" version="1.6.0.75-beta" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.6.0.1-beta" targetFramework="net45" />
  <package id="Google.GData.Analytics" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="jQuery" version="1.8.2" targetFramework="net45" />
  <package id="jquery.datatables" version="1.9.4" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="4.5.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.13" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="net45" />
  <package id="Tesseract" version="1.0.10" targetFramework="net45" />
</packages>